# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
instance/

# Flask
instance/
web_build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads
app/static/uploads/